/*
Alby Mathews Bruse
8980406
*/

body {
    font: 12px Arial;
    background-color: hsla(54, 100%, 55%,1);
    width: 85vw;
    border: 4px solid black;
    margin: auto;
}

#listheading {
    color: #f00;
    font-size: 0.8rem;

}
main {
    float: left;
    width: 66%;
    background-color: hsl(34, 78%, 91%);
}
aside{
    float: right;
    width: 30%;
    background-color: hsl(180, 100%, 50%);
}

.structural {
    margin: auto;
    padding: 10px;
    border: 2px black solid;
}

#para1 {
    color: rgb(0, 0, 255);
}

#para2 {
    color: rgb(0, 128, 0);
}

header {
    background-color: hsl(182, 25%, 50%);
}

footer {
    background-color: hsl(0, 50%, 47%);
    clear: both;
}

a:hover {
    text-decoration: none;
    color: #f0f;
}

footer p {
    font-size: smaller;
}